.bio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
        margin: $spacing-8 0 $spacing-4;
        font-size: $fontSize-6;
    }
    p{
        margin-bottom: $spacing-0;
    }
    &__avatar{
        margin-right: $spacing-4;
        margin-bottom: $spacing-0;
        border-radius: 100%;
    }

    //Bio in aside
    aside & {
        flex-direction: column;
        text-align: center;

        h1 {
            color: $color-white;
        }
        p{
            color: $color-white;
        }
        &__avatar{
            margin-right: 0;
        }
    }
  }
