.bio {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    h1 {
        margin: $spacing-8 0 $spacing-4;
        font-size: $fontSize-6;
        font-weight: $fontWeight-semibold;
    }
    p{
        font-family: $fontFamily-sans;
        margin-bottom: $spacing-0;
    }
    &__avatar{
        margin-right: $spacing-4;
        margin-bottom: $spacing-0;
        border-radius: 100%;
    }

    //Bio in hero
    .hero & {
        flex-direction: column;
        text-align: left;
        margin-bottom: $spacing-16;
        margin-top: $spacing-8;
        h1 {
            color: $color-accent;
            span{
                color: $color-highlight;
            }
        }
        p{
            color: $color-white;
        }
        a{
            color:$color-white;
            font-weight: bold;
        }
        &__avatar{
            margin-right: 0;
        }
    }
  }
