.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    h1 {
        color: $color-white;
    }
    p{
        color: $color-white;
        margin-bottom: $spacing-0;
    }
    &__avatar{
        margin-right: $spacing-4;
        margin-bottom: $spacing-0;
        border-radius: 100%;
    }

    //Bio inside Hero
    .hero & {
        p {
            color: $color-white;
        }
    }
  }
