.btn {
    font-family: $fontFamily-sans;
    text-decoration: none;
    display: inline-flex;
    color: #fff;
    height: 38px;
    line-height: 38px;
    padding: 0 16px;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    font-weight: 500;
    min-width: 140px;
    text-align: center;
    letter-spacing: .06em;
    
    &--primary{
        border: 2px solid $color-primary;
        box-shadow: 4x 4px 0px $color-primary;        
        background-color: $color-primary;
        &:hover{
            background-color: #3b85b2;
            box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%);
        }
    }

    &--secondary{
        border: 2px solid $color-secondary;
        box-shadow: 4px 4px 0px $color-secondary;        
        background-color: $color-secondary;
        &:hover{
            background-color: $color-secondary;
            box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%);
        }
    }

    &--outline {
        color: $color-secondary;
        background-color: transparent;
        text-transform: none;
        &:hover {
            color: $color-white;
            background-color: $color-secondary;
            box-shadow: none;
        }
    }

    &__icon {
        margin-right: 6px;
    }
}

.react-share__ShareButton {
    & + .react-share__ShareButton {
        margin-left: 5px;
    }
}