.btn {
    font-family: $fontFamily-sans;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    font-weight: 500;
    &--primary{
        border: 2px solid $color-primary;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
        background-color: $color-primary;
        &:hover{
            background-color: #3b85b2;
            box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%);
        }
    }

    &--outline {
        color: $color-primary;
        background-color: transparent;
        box-shadow: none;
        text-transform: none;
        &:hover {
            color: $color-white;
            background-color: $color-primary;
        }
    }
}