.card {    
    padding: 20px 16px 16px;
    text-align: center;
    background: #d9e7e7;
    border: 2px solid $color-primary;
    box-shadow: 6px 6px 0px $color-secondary; 
    h3{
        margin-top: 0;
        text-transform: uppercase;
        font-size: $fontSize-2;
        font-weight: 600;
    }
    p{
        font-family: $fontFamily-sans;
        font-size: $fontSize-1;
    }
}