.hero {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 60px;
    background-color: #122a36;
    background: linear-gradient(0deg, #5fa0c6 0%, #3782a3 100%) right center/contain no-repeat;
}