.navbar {
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 55px;
    max-height: 55px;
    line-height: 53px;
    display: flex;
    justify-content: space-between;

    &__link{
        color: $color-white;
    }
  }