.navbar {
    text-align: left;
    display:none;
    &__list{
        list-style: none;
    }
    &__link{
        font-family: $fontFamily-sans;
        color: $color-white;
        padding: $spacing-3 0;
        text-decoration: none;

        &--active {
            color: $color-highlight;
            border-bottom:1px solid $color-highlight;
        }
    }
    @include media(lg){
        display:block;
    }
  }