.navbar {
    display:flex;
    justify-content: space-between;
    &__logo{
        font-family: $fontFamily-sans;
        color: $color-accent;
        font-weight: bold;
        text-decoration: none;
        letter-spacing: 0.4px;
        background-color: rgb(0 0 0 / 37%);
        padding: 4px 8px;
        span {
            color: $color-highlight;
            padding: 0 1px;
        }
    }
    &__link{
        font-family: $fontFamily-sans;
        color: $color-white;
        padding: $spacing-3;
        text-decoration: none;

        &--active {
            color: $color-highlight;
            border-bottom:1px solid $color-highlight;
        }
    }
  }