.newsletter{
    padding: 16px;
    text-align: center;
    background: #dfebf6;   
    h3{
        margin-top: 0;
    }
    &__input[type=text]{
        border-width: 1px;
        padding: 0.75rem;
        margin-bottom: $spacing-4;
    }
    &__btn{
        width: 100%;
        justify-content: center;
    }
}