
//Post item in list
.post {
    margin-bottom: $spacing-6;
    padding-bottom: $spacing-6;
    display:flex;

    &__thumbnail{
        width: 50px;
        min-width: 50px;
        height: 50px;
        margin-right: $spacing-4
    }

    h2 {
        font-size: $fontSize-4;
        font-weight: $fontWeight-semibold;
        color: $color-text;
        margin-bottom: $spacing-1;
        margin-top: $spacing-0;
        @include transition(color .2s ease-out);
        &:hover{
            color: $color-primary;
        }
    }

    &__date{
        color: $color-text-light;
    }

    p {
        margin-bottom: $spacing-0;
    }
}

//Post article content

.blog-post {
    &__header{
        margin-bottom: $spacing-8;
        h1{
            margin: $spacing-0 $spacing-0 $spacing-4 $spacing-0;
        }
        p{
            font-size: $fontSize-2;
            font-family: $font-heading;
            margin-bottom:0;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        @include media(lg){
            flex-direction: row;
        }
    }
    &__body{
        
    }
    &__sidebar{
        
    }
    &__nav{
        ul{
            margin: $spacing-0;
        }
    }
}
