
//Post item in list
.post {
    margin-bottom: $spacing-6;
    padding-bottom: $spacing-6;
    display:flex;

    &__thumbnail{
        width: 50px;
        min-width: 50px;
        height: 50px;
        margin-right: $spacing-4
    }

    h2 {
        font-size: $fontSize-3;
        font-weight: $fontWeight-semibold;
        color: $color-text;
        margin-bottom: $spacing-3;
        margin-top: $spacing-0;
        @include transition(color .2s ease-out);
        &:hover{
            color: $color-primary;
        }
    }

    &__link{
        display: block;
        margin-top:$spacing-3
    }

    p {
        margin-bottom: $spacing-0;
    }

    @include media(md) {
        h2 {
            font-size: $fontSize-4;
        }
    }
}

//Post article content

.blog-post {
    &__header{
        margin-bottom: $spacing-8;
        h1{
            margin: $spacing-0 $spacing-0 $spacing-4 $spacing-0;
        }
        p{
            font-size: $fontSize-2;
            font-family: $font-heading;
            margin-bottom:0;
        }
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: $spacing-2 0 $spacing-4;
        small, time{
            font-size: 80%;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
     
        @include media(lg){
            flex-direction: row;
        }
    }
    &__body{
        flex: 1 1;
        ul{
            padding-left: 40px;
        }
    }
}
