
//Post item in list
.post {
    margin-bottom: $spacing-6;
    padding-bottom: $spacing-6;
    display:flex;

    &__thumbnail{
        width: 50px;
        min-width: 50px;
        height: 50px;
        margin-right: $spacing-4
    }

    h2 {
        font-size: $fontSize-3;
        font-weight: $fontWeight-semibold;
        color: $color-text;
        margin-bottom: $spacing-2;
        margin-top: $spacing-0;
        @include transition(color .2s ease-out);
        &:hover{
            color: $color-primary;
        }
    }

    &__link{
        display: block;
        margin-top:$spacing-3
    }

    p {
        margin-bottom: $spacing-0;
    }

    @include media(md) {
        h2 {
            font-size: $fontSize-4;
        }
    }
}

//Post article content

.blog-post {
    &__header{
        margin-bottom: $spacing-10;
        h1{
            font-family:$fontFamily-serif;
            line-height: 60px;
            font-size: 48px;
            font-weight: 400;
            margin: $spacing-0 $spacing-0 $spacing-4 $spacing-0;
        }
        @include media(md){
            margin-right: 300px;
        }
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: $spacing-2 $spacing-3 0 0;
    }
    &__content{
        display: flex;
        flex-direction: column;
        @include media(md){
            flex-direction: row;
            p{
                font-size: $fontSize-2;
            }
        }
    }
    &__body{
        flex: 1 1;
        ul{
            padding-left: 40px;
        }
    }
}


.author-card{
    display: flex;
    align-items: center;
    font-family: $fontFamily-sans;
    &__img{
        border-radius: 50%;
        margin-right: $spacing-3;
    }
    &__name{
        font-size: $fontSize-1;
        text-decoration: none;
        color:$color-text
    }
    &__date{
        font-size: $fontSize-0;
        color:$color-text-light
    }
}