.toc {
    list-style: none;
    a{
        font-family: $fontFamily-sans;
        font-size: 14px;
        align-items: center;
        display: flex;
        align-items: flex-start;
        text-align: left;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
        &[data-current='true']{
            color: $color-primary;
        }
    }
}