.toc {
    list-style: none;
    //border-left: 2px solid $color-accent;
    a{
        font-family: $fontFamily-sans;
        font-size: 14px;
        align-items: center;
        display: flex;
        align-items: flex-start;
        text-align: left;
        //margin-left: -10px;
        //text-decoration: none;
        /*&:before {
            color: $color-highlight;
            content: "■ ";
            display: inline-block;
            font-size: 8px;
            font-weight: 700;
            left: 0;
            margin: 5px 7px 0;
            text-align: right;
        }*/
    }
}