.side-content{
    width: 100%;
    background: #2d688b;
    background: linear-gradient(213deg, #2d688b 0%, #173441 100%) right center/contain no-repeat;
    position: relative;
    z-index: 0;
    display: flex;
    padding-top:0;
    //justify-content: space-between;
    flex-direction: column;
    &[data-is-root='false']{
        height: 70px;
        .bio {
            display: none;
        }
    }

    @include media(lg) {
        position: fixed;
        height:100vh;
        width: $side-width;
        padding: 100px 38px;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        &[data-is-root='false']{
            height: 100vh;
        }
    }
}