.container {
    margin: $spacing-0 auto;
    max-width: $maxWidth-wrapper;
    padding: $spacing-10 $spacing-5;
  }
  
  main {
      @include media(md){
        margin-left: $side-width;
        & > .container {
            max-width: 100%;
            padding: $spacing-12 $spacing-20
        }
      }
  }