.container {
    margin: $spacing-0 auto;
    max-width: $maxWidth-wrapper;
    padding: $spacing-10 $spacing-5;
  }
  
  main, footer {
      @include media(lg){
        margin-left: $side-width;
        & > .container {
            max-width: 1200px;
            margin:0;
            padding: $spacing-12 $spacing-20
        }
      }
  }

  
  .main {
    display: flex;
    max-width: 1200px;
    padding: $spacing-12 $spacing-20;
    flex-direction: column;
    @include media(lg) {
      flex-direction: row;
    }
    &--wide {
      flex-direction: column;
    }
  }

  .sidebar{
    flex:0 0 300px;
    padding: 30px;
  }


  .content-section {
    margin-bottom: $spacing-20
  }
  .section-title {
    color: $color-text;
    margin-bottom: $spacing-16;
    &::after{
      content: "";
    display: block;
    height: 3px;
    background: $color-highlight;
    width: 50px;
    bottom: -1px;
    margin-top: 15px;
    }
  }