.header{
    width: 100%;
    background-color: #2d688b;
    background: linear-gradient(213deg, #2d688b 0%, #173441 100%) right center/contain no-repeat;
    position: relative;
    z-index: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}