.main {
  display: flex;
  flex-direction: column;
  margin-top: $spacing-10;
  min-height: 82vh;
  @include media(md){
    margin-top: $spacing-20;
    flex-direction: row;
  }
}

.main-content {
  flex: 1 1;
}