.content-section {
    margin-bottom: $spacing-20;
}

.section-title {
    color: $color-primary;
    margin:0 0 $spacing-10;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;    
    @include media(md){
        margin-bottom: $spacing-12;        
    }
}

.section-subtitle {
    color: $color-text-light;
    line-height: $lineHeight-normal;
    font-weight: 500;
    margin-top:0;
}

.not-found{
    text-align: center;
    background: #d9e7e7;
    border: 2px solid #0098bd;
    box-shadow: 6px 6px 0px #2d688b;
    align-self: baseline;
    padding: 30px;
    width: 100%;
    &__title{
        font-size: 100px;
        span{
            color: $color-primary
        }
    }
}
