.content-section {
    margin-bottom: $spacing-20;
}

.section-title {
    color: #0098bd;
    margin-bottom: $spacing-10;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;    
    @include media(md){
        margin-bottom: $spacing-12;        
    }
}

.section-subtitle {
    color: $color-text-light;
    line-height: $lineHeight-normal;
    font-weight: 500;
    margin-top:0;
}