.sidebar{
    flex:0 0 300px;
    &__content{
      h5{
          margin-top: 0;
      }
    }
    @include media(md){
      padding-left: 50px;
      .sidebar__content--sticky{
        position: sticky;
        top: $spacing-10;
      }
    }
  }
